<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>06-组件化3-插槽</title>
    <style>
        .active{
            background-color: #ccc;
        }
        .message-box{
            padding:10px 20px;
            background: #4fc08d;
            border: 1px solid #42b983;
            width: 300px;
        }
        .message-box-close{
            float: right;
        }
    </style>
</head>
<body>
    <div id="app">
        <message :show.sync="isShow">
            <!-- 作用域插槽 -->
            <template v-slot:title="slotTitle" >
                {{slotTitle.title}}
            </template>
            <!-- 作用域插槽 -->
            <!-- <template v-slot:title >
                {{title}}
            </template> -->
            <template>
                新增成功！
            </template>
        </message>
        <h2>
            {{title}}
        </h2>
        <course-add v-model="course" @add-to-cources="addToCources"></course-add>
        <course-list :courses="courses"></course-list>
        <p>课程总数： {{total}}</p>
    </div>
    <script src="vue.js"></script>
    <script>
        Vue.component('message', {
            props: ['show'],
            template: 
            `
            <div v-if="show" class="message-box">
                <strong><slot name="title" title="来自message的title"></slot></strong>
                <slot></slot>
                <span class="message-box-close" @click="$emit('update:show', false)">X</span>
            </div>
            `,
            methods: {
                close() {
                    console.log(111)
                    this.$emit('close', false)
                }
            }
        })
        Vue.component('course-add', {
            props: ['value'],
            template: 
            `
            <div>
                <input type="text" :value="value" @input="onInput" @keydown.enter="addToCources">
                <button @click="addToCources()">添加</button>
            </div>
            `,
            methods: {
                addToCources() {
                    this.$emit('add-to-cources')
                },
                onInput(e) {
                    this.$emit('input', e.target.value)
                }
            }
        })
        Vue.component('course-list', {
            data() {
                return {
                    selectedCource: ''
                }
            },
            props: {
                courses: {
                    type: Array,
                    default: []
                }
            },
            template: 
            `
            <div>
                <p v-if="courses.length === 0">没有任何内容</p>
                <div v-else class="cources-list">
                    <div v-for="item in courses" :key="item.index" :class="{active: selectedCource === item}" @click="selectedCource = item">
                        {{ item }}
                    </div>
                </div>
            </div>
            `
        })
        function getCourses() {
            return new Promise(resolve => {
                setTimeout(() => {
                    resolve(['web全栈', 'web高级'])
                },1000);
            })
        }
        const app = new Vue({
            el: '#app',
            data() {
                return {
                    title: '开课吧购物车',
                    course: '',
                    courses: [],
                    totalCount: 0,
                    isShow: false
                }
            },
            async created(){
                 const courses = await getCourses()
                 this.courses = courses
            },
            methods: {
                addToCources() {
                    this.courses.push(this.course)
                    this.course = ''
                    this.isShow = true
                }
            },
            computed: {
                total() {
                    return this.courses.length
                }
            },
            watch: {
                courses: {
                    immediate: true,
                    handler(newValue, oldValue) {
                        this.totalCount = newValue.length
                    }
                }
            },
        })
    </script>
</body>
</html>